.root {
    width: 100%;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.main-horizontal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.menu-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    padding: 0.25rem;
    padding-top: 0.5rem;
}

.divider-horizontal {
    width: 100%;
    height: 2px;
    background-color: gray;
}

.main-vertical {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.menu-vertical {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.25rem;
    padding-top: 0.5rem;
    min-width: fit-content;
    max-width: 32%;
}

.divider-vertical {
    width: 2px;
    height: 100%;
    background-color: gray;
}

.content {
    height: 100%;
    overflow: auto;
    flex-grow: 1;
}

table {
    width: 100%;
    position: relative;
    border-spacing: 0;
}

td {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    padding-top: 0px;
    padding-bottom: 0px;
    white-space: nowrap;
    vertical-align: top;
}

th {
    background-color: black;
    position: sticky;
    top: 0; /* required for sticky*/
    -webkit-box-shadow: 0px 2px 0px 0px gray;
    -moz-box-shadow: 0px 2px 0px 0px gray;
    box-shadow: 0px 2px 0px 0px gray;
    padding: 0;
}

.tr-even{
    background-color: #323232;
}

tr:hover {
    background-color: gray;
}

.message {
    white-space: break-spaces;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.message-mobile {
    white-space: break-spaces;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    padding-bottom: 0.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.width-100 {
    width: 100%;
}
 .italic {
    font-style: italic;
 }

.count {
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    white-space: nowrap;
    display: flex;
}

.spacer {
    margin-left: auto;
}

.centered {
    margin: auto;
}

.rounded {
    border-radius: 0.25rem;
}

.nowrap {
    white-space: nowrap;
}

.gray {
    background-color: #303030;
}

.red {
    background-color: #660000;
}
